<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head.ejs') %>
  <body>
    <%- include('./partial/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        cupiditate neque aperiam provident consequuntur in numquam quia
        similique laboriosam commodi optio sapiente, repellendus odit vero
        adipisci? Ad doloribus corporis minima.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum similique,
        quam repellendus repudiandae ullam ut, aut corrupti animi iure magni est
        quae voluptatem corporis, labore praesentium dolore unde reprehenderit
        cum.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
        aliquid necessitatibus officiis quidem dolorum ducimus non nam amet
        maiores, exercitationem debitis accusantium, eum numquam voluptatem
        aliquam vel ipsam neque quia.
      </p>
    </div>
    <%- include('./partial/footer.ejs') %>
  </body>
</html>
