<nav>
  <h1 class="site-title">
    <a href="/">Tech Ninja</a>
    <p>A Tech Ninja Site</p>
  </h1>
  <ul>
    <li>
      <a href="/">Blogs</a>
    </li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
